HEAD
html

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: black;
}

.header-line{
    width: auto;
    height: 42px;
    background-color: #293547;
    margin: 0 auto;
}

.container{
    width: 940px;
    margin: 0 auto;
    border: 1px dotted blue;
}

.main-logo{
    display: inline-block;
    width: 220px;
    background-color: #f62d45;
}

.main-logo img{
    width: 115px;
    height: 17px;
    padding: 12px 52px 12px 52px;
    margin: 0 auto;
}
