HEAD
html

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", sans-serif;
	color: black;
}

.main-header{
    min-height: 320px;
    border: 1px dotted red;
    background-color: #f0f4f7;
}

.header-line{
    width: auto;
    height: 42px;
    border: 1px dotted red;
    background-color: #293547;
    color: #fff;

    margin-bottom: 45px;
}
/*
.container{
    width: 940px;
    margin: 0 auto;
    border: 1px dotted red;
}

.main-logo{
    width: 220px;
    background-color: #f62d45;
}

.main-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
}

.btn-buy{
    width: 150px;
    background-color: green;
}

.header-middleBlock{
    width: 940px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 1px dotted red;
}

.phone-block{
    min-height: 45px;
    border: 3px solid #fff;
}

.login{
    padding: 10px 24px;
    background-color: #fff;
}

.registration{
    padding: 10px 24px;
    background-color: #fff;
}

.main-menu{
    min-height: 60px;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #32425C;
    border-bottom: 5px solid #293547;
    color: #fff;
}

.main-menu li{
    display: inline-block;
    vertical-align: middle;
}

.main-menu a{
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: #fff;
}*/
