body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 400;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

                /* header begin */

.main-header {
    margin: 0 auto;
    min-height: 320px;
    background-color: #f0f4f7;
}

.header-line {
    width: auto;
    height: 42px;
    background-color: #293547;
}

.header-line .container {
    width: 940px;
    height: 42px;
    margin: 0 auto;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.main-logo {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 42px;
    box-shadow: 0px 5px 0px 0px #b52932;
    background-color: #ef3644;
}

.main-logo {
    width: 115px;
    height: 17px;
    padding: 12px 52px 13px 52px;
    margin: 0 auto;
}


.header-search {
    display: inline-block;
    vertical-align: top;
    width: 226px;
    padding: 11px 0 11px 46px;
    border: none;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: 14px center;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #293547;
}

.header-line-functions {
    display: inline-block;
    vertical-align: top;
    float: right;
    max-width: 440px;
    font-size: 0;
}

.header-line-functions a {
    color: #fff;
}

.header-favorite {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 8px 34px 8px 26px;
    font-size: 17px;
    line-height: 26px;
    background-image: url("../img/icon-favorite.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.header-basket {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 8px 22px 8px 34px;
    font-size: 17px;
    line-height: 26px;
    background-image: url("../img/icon-basket.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.header-btn-buy {
    display: inline-block;
    vertical-align: middle;
    background-color: #61A443;
    padding: 8px 30px 8px 23px;
    font-size: 17px;
    line-height: 26px;
}


            /* HEADER MIDDLE */

.header-info {
    padding: 48px 0 39px 52px;
}

.header-description {
    float: left;
    display: block;
    width: 210px;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    color: #F3323F;
}

.header-contacts {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 58px;
    width: 280px;
}

.phone-block {
    font-size: 20px;
    line-height: 14px;
    color: #F3323F;
    border: 3px solid #fff;
    padding: 8px 53px 7px 74px;
    background-image: url("../img/icon-phone.png");
    background-repeat: no-repeat;
    background-position: 16px center;
}

.adress-block {
    padding-top: 13px;
    padding-left: 10px;
    font-size: 14px;
    word-spacing: 4px;
    color: #32425C;

}

.user-block {
    float: right;
    font-size: 0;
}

.user-block a {
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    font-size: 21px;
    text-decoration: none;
    color: #000;
}

.user-login {
    margin-right: 10px;
    padding: 10px 26px 10px 48px;
    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: 14px center;
}

.user-registration {
    /*margin-left: 10px;*/
    padding: 10px 30px 10px 30px;
}

nav {
    width: 940px;
    margin: 0 auto;
    background-color: #32425C;
    box-shadow: inset 0px -5px 0px 0px #293647;
    color: #fff;
}

.main-menu-list {
    display: block;
    margin: 0;
    padding: 0 22px;
    font-size: 0;
}

.main-menu li {
    display: inline-block;
    vertical-align: middle;
}

.menu-item a {
    display: block;
    text-decoration: none;
    text-decoration: none;
    margin: 0 12px;
    padding: 18px 20px;
    font-size: 18px;
    color: #fff;
}

.menu-item:hover {
    background-color: #293647;
}

.main-menu-list .active {
    background-color: #1D2739;
}

            /* MAIN */

.container .features {
    margin-top: 59px;
    margin-bottom: 53px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.features-line1 {
    margin-bottom: 20px;
}

.feature-title {
    display: inline-block;
    vertical-align: top;
    margin: 25px 23px 14px 24px;
    font-size: 23px;
    font-weight: 400;
    color: #fff;
}

.feature-btn {
    display: block;
    margin-left: 24px;
    width: 112px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 7px 12px;
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
}

.feature-materials {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-right: 20px;
    padding-bottom: 22px;
    background-color: #f6b22d;
    background-image: url("../img/bg_feature_material.png");
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.feature-tools {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-right: 20px;
    padding-bottom: 22px;
    background-color: #47afdb;
    background-image: url("../img/bg_feature_tools.png");
    background-repeat: no-repeat;
    background-position: 198px 33px;
}

.feature-machinery {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding-bottom: 22px;
    background-color: #cb7bcc;
    background-image: url(../img/bg_feature_machinery.png);
    background-repeat: no-repeat;
    background-position: 191px;
}

.feature-slider {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 620px;
    background-color: #F1F5F8;
}

            /* SLIDER BEGIN */

.slide-1 {
    padding: 26px 26px 0 26px;
    font-size: 0;
    background-image: url("../img/features-slider-img1.jpg");
    background-repeat: no-repeat;
}

.slide-2 {
    display: none;
    background-image: url("../img/features-slider-img1.jpg");
    background-repeat: no-repeat;
}

.slider-title {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

.slide-subtitle {
    display: inline-block;
    vertical-align: top;
    margin: 4px 23px 14px 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.slider-btn {
    display: block;
    margin-top: 106px;
    width: 111px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 7px 42px;
    background-color: #ef3644;
    border-radius: 4px;
}

li .slider-dot .slider-dot-active {
    position: absolute;
    background: red;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 219px 255px;
    width: 8px;
    height: 8px;
}

li .slider-dot {
    position: absolute;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 219px 275px;
    width: 8px;
    height: 8px;
}

            /* SLIDER END */

.two-features {
    display: inline-block;
    vertical-align: top;
}

.feature-sales {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    padding-bottom: 22px;
    background-color: #80d182;
    background-image: url("../img/bg_feature_sales.png");
    background-repeat: no-repeat;
    background-position: 200px;
}

.feature-delivery {
    display: block;
    width: 300px;
    padding-bottom: 22px;
    background-color: #f6b22d;
    background-image: url("../img/bg_feature_delivery.png");
    background-repeat: no-repeat;
    background-position: 197px;
}

            /* FEATURES END */

            /* GOODS BEGIN */

.goods {
    position: relative;
}

.goods-line {
    width: auto;
    height: 44px;
    margin-bottom: 20px;
    padding: 16px 24px 29px 28px;
    background-color: #f8f3ed;
}

.goods-title {
    float: left;
    padding-top: 18px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #323e64;
}

.goods-btn {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    padding: 8px 58px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}

.goods-cards {
    font-size: 0;
}

.goods-item {
    display: inline-block;
    vertical-align: top;
    min-width: 218px;
    margin: 0 20px 20px 0;
    border: 1px solid #e5e5e5;
}

.goods-item:last-child {
    display: inline-block;
    vertical-align: top;
    min-width: 220px;
    margin-right: 0;
}

.goods-item img {
    margin: 20px 12px 17px 14px;
}

/*.goods-item .icon-new {
    position: absolute;
    transition: -10px;
}*/

.new-price {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px 34px;
    background-color: #ef3644;
    border-radius: 4px;
}

            /* GOODS END */

            /* BRANDS BEGIN */

.brands-line {
    width: auto;
    height: 44px;
    margin-bottom: 20px;
    padding: 16px 24px 29px 24px;
    background-color: #f8f3ed;
}

.brands-title {
    float: left;
    padding-top: 18px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #323e64;
}

.brands-btn {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    padding: 7px 34px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}

.brands-logo {
    display: inline-block;
    vertical-align: top;
    min-width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.goods-cards .brand-title {
    font-size: 16px;
    color: #000;
    text-align: center;
}
