body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 400;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    clear:both;
}

                /* header begin */

.main-header {
    margin: 0 auto;
    min-height: 320px;
    background-color: #f0f4f7;
}

.header-line {
    width: auto;
    height: 42px;
    background-color: #293547;
}

/*.header-line .container {
    width: 940px;
    height: 42px;
    margin: 0 auto;
}*/

.container {
    width: 940px;
    margin: 0 auto;
}

.main-logo {

    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    padding: 11px 50px 7px 52px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0px 5px 0px 0px #b52932;
    background-color: #ef3644;
}

.main-logo:hover {
    background-color: #ca2c37;
}


.header-search {
    display: inline-block;
    vertical-align: top;
    width: 205px;
    padding: 11px 0 11px 46px;
    border: none;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: 14px center;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #293547;
}

.header-line-functions {
    display: inline-block;
    vertical-align: top;
    float: right;
    /* max-width: 440px; */
    font-size: 0;
}

.header-line-functions a {
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
}

.header-favorite {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 28px 8px 38px;
    background-image: url("../img/icon-favorite.png");
    background-repeat: no-repeat;
    background-position: 11px center;
}


.header-favorite:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}


.header-basket {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 30px 8px 50px;
    background-image: url("../img/icon-basket.png");
    background-repeat: no-repeat;
    background-position: 17px center;
}


.header-basket:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}


.header-btn-buy {
    display: inline-block;
    vertical-align: middle;
    background-color: #61A443;
    padding: 8px 21px 8px 21px;
    font-size: 17px;
    line-height: 26px;
}

.header-btn-buy:hover {
    background-color: #5fbb2d;
}


.header-btn-buy:active {
    background-color: #518534;
}



            /* HEADER MIDDLE */

.header-info {
    padding: 46px 0 39px 52px;
}

.header-description {
    float: left;
    display: block;
    width: 210px;
    padding-top: 3px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #F3323F;
}


.header-contacts {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 57px;
    width: 280px;
}


.phone-block {
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 21px;
    word-spacing: 0.5px;
    color: #F3323F;
    border: 3px solid #fff;
    padding: 8px 50px 7px 72px;
    background-image: url("../img/icon-phone.png");
    background-repeat: no-repeat;
    background-position: 14px center;
}


.adress-block {
    padding-top: 13px;
    padding-left: 10px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    word-spacing: 0.2px;
    color: #32425C;

}


.user-block {
    float: right;
    font-size: 0;
}


.user-block a {
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    font-size: 21px;
    text-decoration: none;
    color: #000;
}


.user-login {
    margin-right: 10px;
    padding: 10px 28px 10px 48px;
    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: 14px center;
}


.user-login:hover {
    color: #ee3643;
}


.user-login:active {
    color: rgba(0, 0, 0, 0.3);
}


.user-registration {
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    padding: 10px 24px 10px 24px;
}


.user-registration:hover {
    color: #ee3643;
}


.user-registration:active {
    color: rgba(0, 0, 0, 0.3);
}


nav {
    width: 940px;
    margin: 0 auto;
    background-color: #32425C;
    box-shadow: inset 0px -5px 0px 0px #293647;
    color: #fff;
}


.main-menu-list {
    display: block;
    margin: 0;
    padding: 0 22px;
    font-size: 0;
}


.main-menu li {
    display: inline-block;
    vertical-align: middle;
}


.main-menu a {
    display: block;
    text-decoration: none;
    text-decoration: none;
    margin: 0 8px;
    padding: 18px 22px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    color: #fff;
}


.main-menu a:hover {
    background-color: #1D2739;
}


.main-menu a:active {
    color: rgba(255, 255, 255, 0.5);
}


.main-menu-list .active {
    background-color: #1D2739;
}

            /* MAIN */

.container .features {
    margin-top: 59px;
    margin-bottom: 53px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}


.features-line1 {
    margin-bottom: 20px;
}


.feature-title {
    display: inline-block;
    vertical-align: top;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    margin: 25px 23px 14px 23px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}


.feature-btn {
    display: block;
    margin-left: 24px;
    width: 112px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 7px 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.feature-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.feature-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}


.feature-materials {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-right: 20px;
    padding-bottom: 22px;
    background-color: #f6b22d;
    background-image: url("../img/bg_feature_material.png");
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.feature-tools {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-right: 20px;
    padding-bottom: 22px;
    background-color: #47afdb;
    background-image: url("../img/bg_feature_tools.png");
    background-repeat: no-repeat;
    background-position: 198px 33px;
}

.feature-machinery {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding-bottom: 22px;
    background-color: #cb7bcc;
    background-image: url("../img/bg_feature_machinery.png");
    background-repeat: no-repeat;
    background-position: 191px;
}

.feature-slider {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 620px;
    background-color: #F1F5F8;
}

            /* SLIDER BEGIN */


.slide-1 {
    position: relative;
    min-height: 214px;
    padding: 26px;
    font-size: 0;
    background-image: url("../img/features-slider-img1.jpg");
    background-repeat: no-repeat
}

.slide-2 {
    display: none;
    background-image: url("../img/features-slider-img1.jpg");
    background-repeat: no-repeat;
}

.slider-title {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

.slide-subtitle {
    display: inline-block;
    vertical-align: top;
    margin: 4px 23px 14px 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.slider-btn {
    display: block;
    position: absolute;
    left: 25px;
    bottom: 22px;
    width: 111px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 7px 42px;
    background-color: #ef3644;
    border-radius: 4px;
}


.slider-btn:hover {
    background-color: #ca2c37;
}


.slider-btn:active {
    background-color: #ba2732;
}


.slider-arrow-left {
    position: absolute;
    z-index: 2;
    top: 115px;
    left: 25px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-left.png");
    background-repeat: no-repeat;
}


.slider-arrow-right {
    position: absolute;
    z-index: 3;
    top: 115px;
    right: 25px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-right.png");
    background-repeat: no-repeat;
}


.slider-dots {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 250px;
}


.slider-dot {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 4px 4px;
    width: 8px;
    height: 8px;
}


.slider-dot:hover {
    background: red;
    border: 2px solid #fff;
}


.slider-dots .active {
    background: red;
    border: 2px solid #fff;
    border-radius: 7px;
}


/* FEATURES BEGIN */

.two-features {
    display: inline-block;
    vertical-align: top;
}

.feature-sales {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    padding-bottom: 22px;
    background-color: #80d182;
    background-image: url("../img/bg_feature_sales.png");
    background-repeat: no-repeat;
    background-position: 196px;
}

.feature-delivery {
    display: block;
    width: 300px;
    padding-bottom: 22px;
    background-color: #f6b22d;
    background-image: url("../img/bg_feature_delivery.png");
    background-repeat: no-repeat;
    background-position: 190px;
}

/* GOODS BEGIN */

.goods {
    position: relative;
}


.goods-line {
    width: auto;
    height: 44px;
    margin-bottom: 20px;
    padding: 16px 24px 29px 28px;
    background-color: #f8f3ed;
}

.goods-title {
    float: left;
    padding-top: 18px;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
    color: #323e64;
}

.goods-btn {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    padding: 8px 58px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}


.goods-btn:hover {
    background-color: #ca2c37;
}


.goods-btn:active {
    background-color: #ba2732;
}


.goods-cards {
    font-size: 0;
}

.goods-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 220px;
    min-height: 318px;
    margin: 0 20px 20px 0;
    padding: 16px;
    border: 1px solid #e5e5e5;
}

.goods-item:last-child {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin: 0 0 20px 0;
}


.goods-item:hover {
    border: 1px solid #fff;
    box-shadow: 0 10px 25px rgba(41,42,73,0.5);
    top: -4px;
}


.goods-img {
    display: block;
    margin: 16px auto;
}

.goods-img img {
    margin: auto;
    text-align:center;
}

.goods-item .icon-new {
    position: absolute;
    top: 0;
    right: 0;
}

.new-price-btn {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 42px;
    margin: 0 auto;
    width: 122px;
    font-family: "PT-Sans", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color: #ef3644;
    border-radius: 4px;
}


.new-price-btn:hover {
    background-color: #ca2c37;
}

.new-price-btn:active {
    background-color: #ba2732;
}


.goods-cards .brand-title {
    width: 190px;
    height: 44px;
    position: absolute;
    top: 178px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.goods-cards .old-price {
    display: block;
    width: 190px;
    height: 20px;
    position: absolute;
    top: 230px;
    font-family: "PT-Sans", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    color: #999999;
    text-align: center;
}

.goods-category{
    text-align: center;
}

/* BRANDS BEGIN */

.brands {
    margin-bottom: 65px;
}

.brands-line {
    width: auto;
    height: 44px;
    margin-bottom: 20px;
    padding: 16px 24px 29px 24px;
    background-color: #f8f3ed;
}

.brands-title {
    float: left;
    padding-top: 18px;
    font-size: 30px;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    color: #323e64;
}

.brands-btn {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    padding: 7px 70px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}


.brands-btn:hover {
    background-color: #ca2c37;
}


.brands-btn:active {
    background-color: #ba2732;
}


.brands-logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 26px 18px;
    border: 1px solid #e5e5e5;
}


.brands-logo:hover {
    border: 1px solid #fff;
    box-shadow: 0 10px 25px rgba(41,42,73,0.5);
}


.brands-logo:active {
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(41,42,73,0.5);
}



.brands-logo:last-child:hover {
    border: 1px solid #fff;
    box-shadow: 0 10px 25px rgba(41,42,73,0.5);
}


.brands-logo:last-child:active {
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(41,42,73,0.5);
}



.brands-logo:last-child {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 0;
    border: 1px solid #e5e5e5;
}

.brands-logos-1,
.brands-logos-2 {
    font-size: 0;
}


/* SERVICE BEGIN */

.service-block {
    margin-bottom: 83px;
    padding-top: 66px;
    background-color: #F1F5F8;
}


.service-title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 14px;
    font-size: 30px;
    text-transform: uppercase;
    color: #1D2739;
}


.service-info-top {
    margin-bottom: 35px;
    width: 406px;
    font-size: 16px;
}


.service-info {
    margin-bottom: 35px;
    width: 273px;
    font-size: 16px;
}


/* THREE-TABS BEGIN */

.three-tabs {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    margin-top: 33px;
}


/* .tab-delivery {
    background-color: #263A51;
} */


.radio-tab {
    display: none;
    border: 2px solid #428bca;
    padding: 10px 10px;
    background-color: #263A51;
}


.radio-tab:checked {
    display: none;
    border: 2px solid #428bca;
    padding: 10px 10px;
    background-color: #fff;
}


.service-tab {
    display: block;
    padding: 13px 0 16px 22px;
    background-color: #32425C;
    border-top: 1px solid #404F66;
    border-bottom: 1px solid #28344C;
    cursor: pointer;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.8px;
    color: #fff;
}



.service-tab:hover {
    background-color: #fff;
    color: #32425c;
}


.tabs-title {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 16px;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #323e64;
}

    /* services-description */

.service-slider-content {
    display: inline-block;
    vertical-align: top;
    width: 694px;
    font-size: 0;
}


.service-delivery {
    padding: 38px 0 92px 77px;
    background-image: url("../img/delivery_bg.jpg");
    background-repeat: no-repeat;
    background-position: 238px 57px;
    font-size: 0;
}


.service-guaranty {
    display: none;
    padding: 38px 0 92px 77px;
    background-image: url("../img/delivery_bg.jpg");
    background-repeat: no-repeat;
    background-position: 238px 57px;
}

.service-credit {
    display: none;
    padding: 38px 0 92px 77px;
    background-image: url("../img/delivery_bg.jpg");
    background-repeat: no-repeat;
    background-position: 238px 57px;
}


/* SERVICE END*/

/* bigin company info */

.information-block {
    margin-bottom: 86px;
}

.company-info {
    position: relative;
    display: inline-block;
    max-width: 640px;
    /* margin-right: 30px; */
}

.company-info p {
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 0 0 21px 0;
}

.company-info-title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 28px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #1D2739;
}

.company-more-btn {
    display: block;
    vertical-align: middle;
    width: 152px;
    margin-top: 10px;
    padding: 10px 34px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}


.company-more-btn:hover {
    background-color: #ca2c37;
}


.company-more-btn:active {
    background-color: #ba2732;
}





.delivery-company {
    position: relative;
    margin-bottom: 16px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 14px;
}

.company1 {
    padding: 3px 0 24px 0;
}

.company1::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.company2 {
    padding: 2px 0 23px 0;
}


.company2::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}


.company3 {
    padding: 3px 0 24px 0;
}


.company3::before {
    content: "";
    position: absolute;
    top: 89px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}


.company-contacts {
    float: right;
    display: inline-block;
}

.company-contacts p {
    margin-bottom: 30px;
}

.contacts-title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 13px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #1D2739;
}

.write-us-btn {
    display: block;
    vertical-align: middle;
    margin-top: 35px;
    padding: 10px 34px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ef3644;
    border-radius: 4px;
}


.write-us-btn:hover {
    background-color: #ca2c37;
}


.write-us-btn:active {
    background-color: #ba2732;
}



/* end company info */

/* begin footer-block */

.footer-block {
    background-color: #32425c;
    color: #fff;
}

.footer-logo {
    display: inline-block;
    vertical-align: top;
    padding: 21px 37px 18px 37px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 32px;
    box-shadow: 0px 5px 0px 0px #b52932;
    background-color: #ef3644;
}


.footer-logo:hover {
    background-color: #ca2c37;
}


.footer-bottom-line {
    background-color: #293448;
}

/* end footer-block */


/* begin footer-bottom-line */

.footer-content {
    position: relative;
    padding: 20px 0 20px 0;
}

.footer-left-column {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    max-width: 36%;
}


.footer-contact {
    padding-left: 2px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    word-spacing: 0.5px;
    line-height: 24px;
    color: #fff;
}


.footer-phone-block {
    padding-left: 3px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    word-spacing: 0.4px;
    color: #fff;
}


.footer-right-column {
    float: right;
    display: inline-block;
    vertical-align: middle;
    max-width: 64%;
}


.footer-right-column-firstline {
    margin-top: 37px;
    padding: 0;
}


.footer-right-column-firstline li {
    float: right;
    display: inline-block;
    vertical-align: middle;
}



.footer-right-column-firstline a {
    text-decoration: none;
    margin: 0;
    padding: 12px 0 12px 58px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}


.footer-right-column-secondline {
    margin-top: 33px;
    padding: 0;
}


.footer-right-column-secondline li {
    float: right;
    display: inline-block;
    vertical-align: middle;
}


.footer-right-column-secondline a {
    vertical-align: middle;
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 12px 0 12px 60px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}


.copyright {
    display: inline-block;
    vertical-align: middle;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.social {
    position: absolute;
    left: 390px;
    top: 34px;
    display: inline-block;
    vertical-align: middle;
}

.social-block {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-radius: 20px;
    background-color: #212a3a;
    /* margin-right: 5px; */
}


.social-btn-vk {
    background-image: url("../img/icon-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}


.social-btn-fb {
    background-image: url("../img/icon-fb.png");
    background-repeat: no-repeat;
    background-position: center;
}


.social-btn-inst {
    background-image: url("../img/icon-inst.png");
    background-repeat: no-repeat;
    background-position: center;
}


.footer-feedback {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 52px;
    padding: 16px 0 0;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback a {
    color: #ffd180;
}

.developer-is {
    display: inline-block;
    vertical-align: middle;
    float: right;
    padding-top: 16px;
    margin-right: 14px;
    font-family: "Cuprum", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.developer-is a {
    color: #ffd180;
}
